# 1. Create a new notebook in Jupyter Lab

Hello world!

## Assignment: Pandas practice
This week we're also going to have a small assignment involving our new Python/Pandas skills inside Jupyter Notebooks.
It's not due until the start of class, Tuesday, October 12. Whew. 

https://github.com/rebel1804/JOUR554

# 2. Import Pandas and any other Python modules you need

In [1]:
import pandas as pd

# 3. Read a table from a CSV or Excel sheet and turn it into a dataframe

In [2]:
streets = pd.read_csv("data/la_streets/Street_Names.csv")
streets

,Street ID,Street Name,Street Suffix,Street Suffix Direction,Official Street Name,Thomas Brothers Map,Street Type
0,2013.0,UNION,AVE,NaN,UNION AVENUE,634D2,PUBLIC STREET NAMES
1,2523.0,SPRING,ST,NaN,SPRING STREET,634H2,PUBLIC STREET NAMES
2,2221.0,TEXAS,AVE,NaN,TEXAS AVENUE,631J5,PUBLIC STREET NAMES
3,8199.0,CARMONA,AVE,NaN,CARMONA AVENUE,633C4,PUBLIC STREET NAMES
4,3268.0,RELIANCE,ST,NaN,RELIANCE STREET,502D7,PUBLIC STREET NAMES
...,...,...,...,...,...,...,...
11503,11582.0,CORTEZ,LANE,NaN,CORTEZ LANE,501J6,PRIVATE ROADWAY NAMES
11504,11580.0,CORTERRA,LANE,NaN,CORTERRA LANE,501J6,PRIVATE ROADWAY NAMES
11505,11581.0,CORBINA,LANE,NaN,CORBINA LANE,501J6,PRIVATE ROADWAY NAMES
11506,11583.0,FIG TREE,LANE,NaN,FIG TREE LANE,500A2,PRIVATE STREET NAMES
11507,11584.0,BEE CANYON,ROAD,NaN,BEE CANYON ROAD,500A2,PRIVATE STREET NAMES

# 4. Run basic descriptives on a few columns in the dataframe

In [14]:
streets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11508 entries, 0 to 11507
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Street ID                11491 non-null  float64
 1   Street Name              11491 non-null  object
 2   Street Suffix            11101 non-null  object
 3   Street Suffix Direction  60 non-null     object
 4   Official Street Name     11491 non-null  object
 5   Thomas Brothers Map      11137 non-null  object
 6   Street Type              11491 non-null  object
dtypes: float64(1), object(6)
memory usage: 629.5+ KB

In [18]:
#What streets end in AVE?
streets["Official Street Name"].where(streets["Street Suffix"] == "AVE").dropna()

0                        UNION AVENUE
2                        TEXAS AVENUE
3                      CARMONA AVENUE
19                       ILONA AVENUE
20                    KEY WEST AVENUE
                     ...
11382    GEORGE DE LA TORRE JR AVENUE
11392                     ALTA AVENUE
11435                   DAYTON AVENUE
11443                GREENGATE AVENUE
11490                   THOMAS AVENUE
Name: Official Street Name, Length: 2300, dtype: object

In [20]:
#Does MODE work on a text series? - NO
streets["Official Street Name"].value_counts()

22ND STREET           3
PARK AVENUE           3
17TH STREET           3
TULSA STREET          3
29TH PLACE            3
                     ..
BECKMAN ROAD          1
EDGECLIFF AVENUE      1
PAUMA VALLEY DRIVE    1
ALGUNAS ROAD          1
MASSELIN AVENUE       1
Name: Official Street Name, Length: 10853, dtype: int64

# 5. Document your work using markdown headers in the notebook

:)